<br/>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" placeholder="seu email" formControlName="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" class="form-control" placeholder="sua senha" formControlName="senha">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>

            <app-form-debug [form]="loginForm"></app-form-debug>

          </form>
    </div>
    <div class="col">

    </div>
  </div>
</div>
