<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-menu *ngIf="exibindoMenu()"></app-menu> -->
<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="" *ngIf="exibindoMenu()">
        <app-sidebar *ngIf="exibindoMenu()"></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/capagym.jpg)" *ngIf="exibindoMenu()"></div>
    </div>

    <div class="main-panel" *ngIf="exibindoMenu()">
        <app-navbar *ngIf="exibindoMenu()"></app-navbar>
        <router-outlet *ngIf="exibindoMenu()"></router-outlet>
    </div>
    <router-outlet *ngIf="!exibindoMenu()"></router-outlet>
    

    <ng2-toasty></ng2-toasty>
</div>

