<div class="container-fluid" [ngStyle]="{'background-image': getUrl()}">
  <div class="row">
      <div class="container">
      <div class="col">
          <!--<img [src]="logoImage"/>-->
          <p class="text-center">LOGO ROOTFIT</p>
          <br/>
          <br/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col back-cover">
      <h3>"A little progress each day adds up to big results."</h3>
      <p>
          Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.  <br/>
          Quem num gosta di mé, boa gentis num é. <br/>
          Detraxit consequat et quo num tendi nada. <br/>
      </p>
    </div>
    <div class="col">
       <app-login-form></app-login-form>
    </div>
    </div>
    <!--<app-form-debug [form]="loginForm"></app-form-debug>-->
</div>
