<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="dashboard">DASHBOARD</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a routerLink="/alunos">ALUNOS</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{editando ? 'EDIÇÃO':'CADASTRO'}}</li>
                                </ol>
                            </nav>
                            <hr/>
                        </div>
                        <div class="content">
                            <form >
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <input type="text" name="nome" id="nome" class="form-control" >
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="inicio" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Data de Nascimento</label>
                                            <input type="date" name="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Status:</label>
                                            <select class="form-control" name="status">
                                                <option value="">Selecionar status:</option>
                                                <option *ngFor="let s of status" value="{{ s.value }}">{{ s.label }}</option>
                                            </select>
                                        </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <input type="text" name="estado" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cidade</label>
                                            <input type="text" name="cidade" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Telefone</label>
                                            <input type="text" name="telefone" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Academia</label>
                                            <input type="text" name="academia" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Senha</label>
                                            <input type="password" name="senha" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Confirmar senha</label>
                                            <input type="password" name="consenha" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-fill pull-right" >Inserir</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>