<div class="container">
<form autocomplete="off" #f="ngForm">
  <div class="form-group">
    <label>Matricula</label>
    <input type="matricula" name="usuario" class="form-control" placeholder="" ngModel required #usuario>
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" name="senha" class="form-control" ngModel required #senha>
  </div>
  <button type="submit" label="Login" [disabled]="!f.valid"
  (click)="login(usuario.value, senha.value); senha.value = '';" class="btn btn-success btn-lg">Entrar</button>
   | <a href="dashboard">Esqueceu sua senha?</a>
</form>
</div>
