.container{
    color: black;
    height: 100%;
    padding-top:150px;
    padding-left: 300px;
    padding-right: 300px;
}
.form-control{
    border: gray 4px solid;
    height: 80px;
}
input-placeholder{
    color: springgreen;
    font-size: 18px;
    font-weight: bold;
}
a{
    color: black;
}
