<div class="main-content">
    <div class="container-fluid">
            <div class="col-lg-12 colreset">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/ficha-treino">Ficha Treino</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{editando ? 'Edição':'Cadastro'}}</li>
                    </ol>
                </nav>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" >                    
                    <div class="content">
                        <h4>{{editando ? 'Edição' : 'Cadastro' }} de Avaliacao Física</h4><br/>
                        <form #frm="ngForm" (ngSubmit)="salvar(frm)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Nome Instrutor</label>
                                        <input type="text" (ngModel)="avaliacoes.instrutor.nome" disabled class="form-control" 
                                        placeholder="Nome do Aluno" [value]="avaliacoes.instrutor.nome">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Matricula</label>
                                        <input type="text" (ngModel)="avaliacoes.instrutor.matricula" disabled class="form-control" 
                                        placeholder="Ex:1613000" [value]="avaliacoes.instrutor.matricula">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" (ngModel)="avaliacoes.instrutor.email" disabled class="form-control" 
                                        placeholder="email@meuemail.com" [value]="avaliacoes.instrutor.email">
                                    </div>
                                </div>
                            </div>
  
                            <h4>Dados do Aluno: {{avaliacoes.aluno.nome}}</h4>
                            <hr>
  
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Nome Aluno</label>
                                        <input type="text" (ngModel)="avaliacoes.aluno.nome" disabled class="form-control" 
                                        placeholder="Nome do Aluno" [value]="avaliacoes.aluno.nome">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Matricula</label>
                                        <input type="text" (ngModel)="avaliacoes.aluno.matricula" disabled class="form-control" 
                                        placeholder="Ex:1613000" [value]="avaliacoes.aluno.matricula">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" (ngModel)="avaliacoes.instrutor.email" disabled class="form-control" 
                                        placeholder="email@meuemail.com" [value]="avaliacoes.aluno.email">
                                    </div>
                                </div>
                            </div>
  
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Peso</label>
                                        <input type="text" class="form-control" name="peso" placeholder="Peso em Kg" [(ngModel)]="avaliacoes.peso">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Altura</label>
                                        <input type="text" class="form-control" name="altura" placeholder="Altura" [(ngModel)]="avaliacoes.altura">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data Avaliacao</label>
                                        <input type="text" class="form-control" name="dataAvaliacao" placeholder="aaaa/MM/dd" [(ngModel)]="avaliacoes.dataAvaliacao">
                                    </div>
                                </div>
                            </div>                                                     
  
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Exercicio</label>
                                        <textarea rows="5" class="form-control" placeholder="Exercicio"
                                        (ngModel)="avaliacoes.aluno.objetivo" [value]="avaliacoes.aluno.objetivo"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Série</label>
                                      <textarea rows="5" class="form-control" placeholder="Série"
                                      (ngModel)="avaliacoes.aluno.objetivo" [value]="avaliacoes.aluno.objetivo"></textarea>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Repetição</label>
                                    <textarea rows="5" class="form-control" placeholder="Repetições"
                                    (ngModel)="avaliacoes.aluno.objetivo" [value]="avaliacoes.aluno.objetivo"></textarea>
                                </div>
                            </div>
                            </div>
                            <button type="submit" label="Atualizar" [disabled]="frm.invalid" class="btn btn-primary">Atualizar</button>
                            <button type="submit" label="Adicionar" [disabled]="frm.invalid" class="btn btn-primary">Adicionar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>