<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="#pablo">
            <a class="navbar-brand" href="#"><img [src]="logo"></a>
         </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
     </button>


      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
              <li [routerLink]="['active']" class ="nav-item">
                  <a class="nav-link" href="#pablo">Aluno</a>
              </li>
              <li [routerLink]="['active']" class="nav-item">
                  <a class="nav-link" href="#pablo">Colaboradores</a>
              </li>
              <li [routerLink]="['active']" class="nav-item">
                <a class="nav-link" href="#pablo">Relatórios</a>
            </li>
              <li [routerLink]="['active']" class="nav-item">
                  <a class="nav-link disabled" href="#pablo">Alba</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
