<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />

                <h4 class="title-profile">{{auth.jwtPayload?.nome}}</h4>
                  <br />
                  <p>Objetivo</p>
              </a>
            </div>
            <p class="description text-center">
            </p>
          </div>
          <hr>
          <div class="text-center">
            <button href="#" class="btn btn-simple">
              <i class="fa fa-facebook-square"></i>
            </button>
            <button href="#" class="btn btn-simple">
              <i class="fa fa-twitter"></i>
            </button>
            <button href="#" class="btn btn-simple">
              <i class="fa fa-google-plus-square"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="card bg-danger">
              <div class="content">
                <h4 class="text-slarge text-center">IMC</h4>
                <p class="text-large text-center">32</p>
                <div class="footer">
                  <p class="text-center">Odesidade Grau I</p>
                  <hr>
                  <div>
                    <i class="fa fa-history"></i> Histórico
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
              <div class="card bg-warning">
                <div class="content">
                  <h4 class="text-slarge text-center">Faltas</h4>
                  <p class="text-large text-center">4</p>
                  <div class="footer">
                    <p class="text-center">Junho de 2018</p>
                    <hr>
                    <div>
                      <i class="fa fa-history"></i> Histórico
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-8">
              <div class="card bg-success">
                <div class="content">
                  <h4 class="text-slarge text-center">Graficos</h4>
                  <p class="text-large text-center">32</p>
                  <div class="footer">
                    <p class="text-center">Odesidade Grau I</p>
                    <hr>
                    <div>
                      <i class="fa fa-history"></i> Histórico
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>