<br/>
<div class="container">

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class=text-left>
              <h5>
              Total de Colaboradores: {{colaboradores.length}}
              </h5>
            </div>
        </div>
        <!-- <div class="col-lg-6">
          <div class=text-right>
            <button class="btn btn-success" routerLink="/colaborador/adicionar">
              Adicionar <i class="fa fa-plus"></i>
            </button>
          </div>
        </div> -->
    </div>
    <div class="row">
        <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col" class="text-center">Perfil</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Deletar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let colaborador of colaboradores">
                <th scope="row">{{colaborador.id}}</th>
                <td>{{colaborador.nome}}</td>
                <td>{{colaborador.email}}</td>
                <td>{{colaborador.telefone}}</td>
                <td class="text-center">
                    <button class="btn btn-light btn-sm">
                        Ver Perfil
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-info btn-sm" [routerLink]="['/colaborador', colaborador.id]">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="remover(colaborador)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

</div>
