<div class="container">
<div class="card">
  <div class="card-body">
  <form>      
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Matricula:</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Nome Completo:</label>
                  <input type="text" class="form-control"  aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Sexo:</label>
                  <input type="text" class="form-control"  aria-describedby="emailHelp" >
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">CPF:</label>
                  <input type="text" class="form-control"  aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-lg-4">
              <div class="form-group">
                    <label for="exampleInputEmail1">RG:</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp">
              </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Telefone:</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp" >
            </div>
      </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">CEP:</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Endereço:</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                  <label for="exampleInputEmail1">Número:</label>
                  <input type="text" class="form-control"  aria-describedby="emailHelp">
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                    <label for="exampleInputEmail1">Número:</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                    <label for="exampleInputEmail1">CPF:</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp">
              </div>
          </div>
        </div>
      <hr/>
      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
              </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
                <label>Confirme o Email</label>
                <input type="email" class="form-control" id="emailrec">
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >Senha</label>
                <input type="password" class="form-control" id="password1" placeholder="Password">
              </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
                <label >Confirme a Senha</label>
                <input type="password" class="form-control" id="password2" placeholder="Password">
              </div>
            </div>
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  </div>
</div>
</div>