
<div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
               
                RooFit
            </a>
        </div>
        <ul class="nav responsive-nav">
            <li routerLinkActive="active" *ngIf="auth.temPermissao('ROLE_PESQUISAR_COLABORADOR')"  >
                <a  routerLink="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                <a  routerLink="listar-usuarios">
                    <i class="pe-7s-user"></i>
                    <p>Listar</p>
                </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                <a  routerLink ="cadastrar-usuarios">
                    <i class="pe-7s-note2"></i>
                    <p>Cadastrar</p>
                </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                    <a  routerLink ="cadastrar-avaliacao-fisica">
                        <i class="pe-7s-like"></i>
                        <p>Avaliação Física</p>
                    </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                    <a  routerLink ="ficha-treino">
                        <i class="pe-7s-gleam"></i>
                        <p>Ficha de Treino</p>
                    </a>
            </li>
        </ul>
    </div>
    