
<div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
               
                RooFit
            </a>
        </div>
        <ul class="nav responsive-nav">
            <li routerLinkActive="active" *ngIf="auth.temPermissao('ROLE_PESQUISAR_COLABORADOR')"  >
                <a  routerLink="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="auth.temPermissao('ROLE_PESQUISAR_COLABORADOR')"  >
                    <a  routerLink="academias">
                        <i class="pe-7s-home"></i>
                        <p>Academia</p>
                    </a>
                </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                <a  routerLink="alunos">
                    <i class="pe-7s-user"></i>
                    <p>Aluno</p>
                </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                    <a  routerLink ="avaliacoes-fisicas">
                        <i class="pe-7s-graph1"></i>
                        <p>Avaliação Física</p>
                    </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                    <a  routerLink ="treinos">
                        <i class="pe-7s-gleam"></i>
                        <p>Treinos</p>
                    </a>
            </li>
            <li routerLinkActive="active"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" >
                <a  routerLink ="exercicios">
                    <i class="pe-7s-gym"></i>
                    <p>Exercícios</p>
                </a>
        </li>
        </ul>
    </div>
    