<br/>
<div class="container">

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class=text-left>
              <h5></h5>
            </div>
        </div>
        <div class="col-lg-6">
          <div class=text-right>
            <button class="btn btn-success" routerLink="/cadastrar-ficha-treino">
              Adicionar <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Nome do Aluno</th>
                <th scope="col">Matricula</th>
                <th scope="col">Exercicio</th>                
                <th scope="col" class="text-center">Perfil</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Deletar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ficha of fichaTreino">
                <td scope="row">{{ ficha.aluno.nome }}</td>
                <td scope="row">{{ ficha.aluno.matricula }}</td>
                <td scope="row" *ngFor="let exercicio of exercicios">{{ exercicio.repeticao }}</td>                
                <td class="text-center">
                    <button class="btn btn-light btn-sm">
                        Ver Perfil
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-info btn-sm" [routerLink]="['/ficha-treino', ficha.id]">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" [routerLink]="['/ficha-treino']" (click)="remover(ficha.id)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

</div>


