<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                    <div class="card">
                            <div class="header">
                                <h4 class="title">Alunos</h4>
                                <p class="category">Qtd. Cadastradas</p>
                            </div>
                            <div class="content">
                                <h1>{{aluno.length}}</h1>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Listar
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                        <div class="header">
                            <h4 class="title">Instrutores</h4>
                            <p class="category">Qtd. Cadastradas</p>
                        </div>
                        <div class="content">
                            <h1>{{instrutores.length}}</h1>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Listar
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                        <div class="header">
                            <h4 class="title">Alunos</h4>
                            <p class="category">Qtd. Cadastradas</p>
                        </div>
                        <div class="content">
                            <h1>{{alunos.length}}</h1>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Listar
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card">
                            <div class="header">
                                <h4 class="title">Tasks</h4>
                                <p class="category">Backend development</p>
                            </div>
                            <div class="content">
                              
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                    </div>
                    <div class="content">

                           
                       
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>