<div class="container">
  <h2>Listagem de Clientes</h2>
  <hr>
  <table class="table table-striped table-blue">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Nome</th>
        <th scope="col">Peso</th>
        <th scope="col">Altura</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of alunos">
        <th scope="row">{{a.id}}</th>
        <td>{{a.matricula}}</td>
        <td>{{a.nomeAluno}}</td>
        <td>{{a.peso}} kg</td>
        <td>{{a.altura}} m</td>
      </tr>
    </tbody>
  </table>
</div>
